# Ignore all files in the results/fastp directory, except .gitkeep
RNAseq/results/2_fastp/*
!RNAseq/results/2_fastp/.gitkeep

# Ignore all files in the salmon_index directory, except .gitkeep
RNAseq/salmon_index/*
!RNAseq/salmon_index/.gitkeep

# Ignore all files in the logs directory
RNAseq/scripts/logs/*

# Ignore large files
RNAseq/results/4-6_deseq2/MLH1_DESeq2_result.RDATA

#ignore rserver files
rstudio-rserver
rstudio-rsession
rserver*

# Ignore everything in all subdirectories
ATACseq/**

# Allow .gitkeep files in all directories
!ATACseq/**/.gitkeep

# Allow files in the root directory (i.e., don't ignore them)
!ATACseq/**/

# Do not ignore files in the scripts/ directory
!ATACseq/**/scripts/*

#rserver etc files
ATACseq/**/scripts/rs*
ATACseq/**/scripts/core*
